/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
}
h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

nav {
    margin: 0;
}

.padding{
    margin: 2em;
}

.button{
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    color: #039be5;
    cursor: pointer;
}

.buttonlink a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
.buttonlink a:visited, a:link {
    color: #607D8B;
}
.buttonlink a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

.active {
    color: #039be5 !important;
    background-color: #CFD8DC !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.counter {
    position: relative;
}
.counter__input {
    border: 0;
    border-radius: 3px;
    height: 30px;
    max-width: 100px;
    text-align: center;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    margin: 0em;
    margin-left: 4em;
    margin-right: 4em;
    font: 400 13.3333px Arial;
}
.counter__button {
    outline: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 3px;
    background: #0088cc;
    color: #fff;
}

.sum {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    float: right;
}


